body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.product-container {
  margin-top: 50px;
}

/* single product css */
.singleView {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.featuredProduct {
  max-width: 500px;
  max-height: 500px;
}

/* .description {
} */

.addToCart,
.back {
  padding: 10px 25px 10px 25px;
  border: 0;
  font-weight: bold;
  background-color: #000;
  color: #fff;
}

/* .details {

} */

h2 {
  font-size: 36px;
  font-weight: bold;
}

left {
  padding: 30px;
  text-align: left;
  font-size: 15px;
  line-height: 125%;
}

.adminBar {
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
  background-color: #bb4430;
}

.adminButton {
  padding: 10px 25px 10px 25px;
  border: 0;
  font-weight: bold;
  background-color: #000;
  color: #fff;
}
